body {
    font-family: 'Arial', sans-serif;
    background-color: #c6bef6;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.todo-app {
    width: 25vw;
    height: auto;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #423a98;
}

.add-todo {
    margin-top: 20px;
}

.add-todo input {
    padding: 8px;
    margin-right: 10px;
    border: none;
    background-color: #c6bef6;
    border-radius: 25px;
}

button {
    padding: 10px 16px;
    background-color: #544caf;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
}

.add-todo button:hover {
    background-color: #423a98;
}

.todo-list {
    list-style-type: none;
    padding: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.todo-item input {
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: #888;
}